.all-post{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.post-title{
    color:lawngreen
}
  /* margin:15px; */}
.description{
    text-align:left;
    
}

.my-posts {
    margin-top:.5rem;
    /* padding:1rem; */
}