.header{
    background-color:#4b4848;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    align-items: center;
    box-shadow: 0px 0px 0px 2px #000000;
    color:#ffffff
}
.nav-link + .nav-link{
    margin-left: 25px;

}
.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
.contact > a > i {
    background-color: lawngreen;
    padding:5px;
    border-radius: 50%;
}
.logo{
 text-decoration: none;
 color:#ffffff
}