.recent{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    box-shadow: 2px 2px 2px 2px #000000;
}
.card{
    display:flex;
    align-items: stretch;
    /* justify-content: center; */
    padding:10px;
    text-decoration: none;
    color:#000000;
}
.card-text{
    font-size: small;
    text-align: justify;
    padding:10px;
}
